*{
    padding: 0%;
    margin: 0%;
}
.top_content{
    background-image: url("./coding.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.hrr{
    width: 70px;
    height: 20px;
    background-color: rgb(29, 218, 218);
    color: blue;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -19px;

}
.logo{
    margin-bottom: 140px;
}
.u{
    
    font-size: 100px;
    margin-left: 48px;
    font-weight: 900;
    color: white;
}
.treding{
    font-size: 30px;
    color: white;
    margin-left: 45px;
    font-weight: 700;
    margin-top: -15px;
}
.softs{
    font-size: 20px;
    color: white;
    margin-left: 45px;
    font-weight: 700;

}
.blur{
    background-color: white;
    opacity: 0.1;
    height: 300px;
    width: 100%;   
}
.list_menu{
    margin-left: -79px;
}
.list{
    color:white;
    padding-top: 70px;
    margin-left: 50px;
    font-weight: 900;
    font-size:60px;
    height: 700px;
    width: ;
    text-align: right;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: rgb(255, 253, 253,0.2);
    
}
ul{
    list-style-type: none;
    padding-right: 20px;
}
.learn_prg
{
    background-color: rgba(223, 177, 27, 0.82);
    font-size: 70px;
    color: white;
    font-weight: 900;
    height: 100%;
    margin-right: 0px;
    margin-bottom: 105px;
    padding-left: 40px;
    padding-top: 50px;

}
.address{
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-top: -18px;
    margin-left: -29px;
    text-align: right;
    background-color: rgb(255, 255, 255,0.1);
}
.first_text{
    color: rgb(208, 19, 19);
    font-size: 70px;
    letter-spacing: 2px;
}

.middle_content{
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    
    
}
.start{
    font-size: 50px;
    letter-spacing: 2px;
}
.course{
    font-size: 30px;
    letter-spacing: 2px;
    
}
.coding_logo{
    background-color: rgb(36, 243, 243);
    margin-left: -29px;
    padding-bottom: 46px;
   
}
.logo1{
    transform: rotate(320deg);
}

.cod_logo{
    text-align: left;
    margin-top: 15px;
    padding-left: 90px;
}

.txt{
    text-align: left;
    margin-top: 90px;
    margin-left: -25px;
    padding-right: 220px;

}

.company{
    color: rgb(130, 8, 8);
    font-weight: 900;
}
.coded{
    font-weight: 900;
    font-size: 60px;
}
.lorem_content
{
    padding-top: 30px;
}
.left_bottom_content{
    
    
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 20px;
    padding-bottom: 50px;
    text-align: justify;
    
    background-color: rgb(242, 242, 242);
}
.right_bottom_content{
    text-align: right;
    
    padding-top: 0px;
    margin-top: 12px;
    padding-right: 100px;
    margin-right: -18px;
    padding-left: 30px;
}
.second{
    font-weight: 900;
    color: rgb(23, 174, 234);
    font-size: 75px;
    text-align: center;
    
}
.end_content{
    font-weight: 900;
    font-size: 30px;
}
.earn_content{
    font-size: 27px;
}
.text{
    text-align: justify;
        font-size: 16px;
}
.red_footer_line{
    border: 2px solid red;
    background-color: red;
    height: 15px;
}